@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&family=Dancing+Script:wght@700&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700&family=Sora:wght@500;600;700;800&display=swap");
:root {
  --primary: #fe2c55;
  //Default Layout
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
  --black: #000;
  --text-color: #333;
  --white: #fff;
  --default-layout-horizontal-spacer: 24px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
}
button,
input,
[tabindex] {
  border: none;
  outline: none;
}
a[href] {
  color: var(--text-color);
  text-decoration: none;
}
body {
  .tippy-box {
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 22px;

    background-color: rgba(84, 84, 84, 0.92);
  }
  .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
  }
}
